@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Safi-FastFood</h1>
    <p class="lead">We make fast food to our customers. You can come every time.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            Our customers are very happy with us. They give us feedback to our website.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Services</h2>
        <p>We provide different services to our customer like free home delivery and make card to our dialy custmers
           and proivde 50% discount on card.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Foods</h2>
        <p>We make Pizza, Burger, sindwich and chips etc.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>